<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div id="navigation">
      <ul>
        <li><a href="/contacts">Contacts</a></li>
        <li><a href="/config">Config</a></li>
      </ul>
    </div>
    {{{body}}}
  </body>
</html>
