
body {
  padding: 5px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

input, select, button { 
  height: 2em;
  width:100%;
}

.background-red { 
  
  color:#f00 !important;

}
#callsign, #class, #section { 
  font-weight:bold;
}